@import url('https://fonts.googleapis.com/css2?family=Bad+Script');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

body h2 {
    font-weight: 700px;
    color: #000;
    font-size: 36px;
}

/* Banner Begin*/
header h1{
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Bad Script';
    font-size: 64px;
    font-weight: 800;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
header h1  a:link, header h1 a:visited, 
header h1  a:hover, header h1 a:active {
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }

/* Banner End*/

/*Nav bar Begin*/
.navbar-nav > li{
    padding-left:150px;
    padding-right:150px;
  }
/*Nav bar END*/

/* Models section Begin*/
.models-section .card-img-top {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.models-section {
    padding-top: 5%;
}
/* Models section END*/

/* Featured prodcuts section */
.featured-products {
    padding-top: 8%;
}

.featured-products p{
    text-align: center;
    color: #5A5A5A;
    padding-top: 1%;
}

.featured-products .card-img-top{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.featured-products .card {
    padding-top: 2%;
    border: none;
}

.featured-products .btn{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: large;
    font-weight: 700;
}

.featured-products .btn-primary{
    background-color: #1E1E1E !important;
    border: 5px solid #1E1E1E !important;
    border-radius: 0;

    transition: all 0.3s;
}

.featured-products .btn-primary:hover {
    transform: translateY(-10px);
    background-color: #FFF !important;
    color: #1E1E1E;
}
/* Featured prodcuts section END*/

/* contact form begin */
.contact-form {
    padding-top: 5%;
    display: flex; /* Add this line */
    justify-content: flex-start; /* Add this line */
  }
  
  .contact-form input[type="text"],
  .contact-form select,
  .contact-form textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  .contact-form input[type="submit"] {
    background-color: grey;
    color: white;
    font-size: large;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.3s;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: darkgray;
    transform: translateY(-10px);
  }
  
  .contact-form .container {
    border-radius: 5px;
    padding: 20px;
    align-items: start;
    margin-left: 0; /* Add this line */
    margin-right: auto; /* Add this line */
  }

@media screen and (min-width: 992px) { /* to add padding on larger screens*/
    .contact-form {
      padding-left: 70px;
    }
  }
  /* contact form END */

/* footer begin */

#catalogue-footer {
  padding-top: 2%;
  padding-bottom: 1%;
  font-family: 'Bad Script';
  font-weight: 800;

  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

footer h3  a:link, footer h3 a:visited, 
footer h3  a:hover, footer h3 a:active {
  color: #FFF;
    background-color: transparent;
    text-decoration: none;
}

.creator-credit {
  padding-top: 3%;
}

/* footer END */

/* features page begin */
.features h1 {
  padding-bottom: 5%;
}

.features .card-img-top {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.services, .reliability, .goals{
  padding-bottom: 10%;
}

/* features page END*/