@import url('https://fonts.googleapis.com/css2?family=Bad+Script');

*body{
    font-family: Lato;
}

/* Banner Begin*/
header h1{
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Bad Script';
    font-size: 64px;
    font-weight: 800;
}
/* Banner End*/

/*Nav bar Begin*/
.navbar-nav > li{
    padding-left:150px;
    padding-right:150px;
  }
  /*Nav bar END*/

/* Models section Begin*/
.models-section .card-img-top {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
/* Models section END*/

/* Featured prodcuts section */
.featured-products h2{
    font-weight: 700px;
    color: #000;
    font-size: 36px;
}

.featured-products p{
    text-align: center;
    color: #5A5A5A;
    padding-top: 1%;
}

.featured-products .card-img-top{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.featured-products .card {
    padding-top: 2%;
    border: none;
}

.featured-products .btn{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Featured prodcuts section END*/